<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品のご案内｜お茶の思い</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<link rel="stylesheet" href="stylesheets/products.css">
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="separation/header.js"></script>
	<main>
		<section>
			<div class="product_top">
				<div class="product_content">
					<div class="pro_title">
						<i class="title_boder"></i>
						<div class="txt_container">
							<hgroup>
								<h2>商品のご案内</h2>
								<h4>Products</h4>
							</hgroup>
						</div>
					</div>
					<div class="pro_category">
						<div class="category_content">
							<div class="cate_base">
								<div class="base_title">
									<h4>ベースとなる茶葉</h4>
									<p>
										<span>
											<svg width="9px" height="8px">
												<path class="mark__small_arrow" fill-rule="evenodd" fill="rgb(99, 175, 140)" d="M8.647,4.787 L9.000,4.469 L8.647,4.151 L8.647,4.116 L8.607,4.116 L5.109,0.969 L4.553,1.468 L7.495,4.116 L-0.000,4.116 L-0.000,4.823 L7.495,4.823 L4.553,7.470 L5.109,7.970 L8.607,4.823 L8.647,4.823 L8.647,4.787 Z">
												</path>
											</svg>
										</span>
										<a href="">茶っぱ図鑑</a>
									</p>
								</div>
								<div class="base_box">
									<ul>
										<li value="やぶきた">
											<p>やぶきた</p>
											<span><svg width='10' height="8px">
												<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
											</svg></span>
										</li>
										<li value="さえみどり">
											<p>さえみどり</p>
											<span>
												<svg width='10' height="8px">
													<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
												</svg>
											</span>
										</li>
										<li value="ゆたかみどり">
											<p>ゆたかみどり</p>
											<span>
												<svg width='10' height="8px">
													<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
												</svg>
											</span>
										</li>
										<li value="あさつゆ">
											<p>あさつゆ</p>
											<span>
												<svg width='10' height="8px">
													<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
												</svg>
											</span>
										</li>
										<li value="あさのか">
											<p>あさのか</p>
											<span>
												<svg width='10' height="8px">
													<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
												</svg>
											</span>
										</li>
										<li value="おくみどり">
											<p>おくみどり</p>
											<span>
												<svg width='10' height="8px">
													<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
												</svg>
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="cate_tag">
								<h4>関連タグ</h4>
								<div class="tag_box">
									<ul>
										<li>人気</li>
										<li>ギフト</li>
										<li>深蒸し茶</li>
										<li>抹茶入</li>
										<li>粉末茶</li>
							 			<li>ティーバッグ</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product_bottom">
				<div class="product_content">
					<ul>
						<%for(var i=0,arr=[];i<result.length;i++){%>
						<li class="col-lg-3 col-md-3">
							<a href="/archives?name=<%=result[i].name%>&id=<%=result[i].id%>">
								<div class="goods_img">
									<img src="images/<%=result[i].img%>" alt="">
								</div>
								<div class="goods_title"><%=result[i].name%></div>
								<div class="goods_info">
									<p class="goods_tag">
										<%if(result[i].tag != null){%>
											<%arr[i] = result[i].tag.split('&')%>
											<%for(var j = 0;j<arr[i].length;j++){%>
												<span><%=arr[i][j]%></span>
											<%}%>
										<%}%>
									</p>
									<p class="goods_price">¥ <%=result[i].price%>+ tax</p>
								</div>
								<div class="goods_desc"><%=result[i].depict%></div>
							</a>
							<div class="icon_like">
								<p class="like_click">
									<svg width="100%" height="100%" viewBox="0 0 52 52">
										<path d="M674.867,6446.55a8.956,8.956,0,0,1,5.572,1.99c5.446,4.31,4.915,13.55-1.233,21.48-4.805,6.2-13.08,15.15-17.482,19.82-4.413-4.68-12.712-13.66-17.483-19.82-6.149-7.93-6.679-17.17-1.235-21.48a9.027,9.027,0,0,1,14.3,4.56,4.57,4.57,0,0,0,8.83,0,9.136,9.136,0,0,1,8.73-6.55m0-3.55a12.555,12.555,0,0,0-3.941.64,12.427,12.427,0,0,0-8.216,8.54,1.021,1.021,0,0,1-1.974,0,12.433,12.433,0,0,0-8.216-8.54,12.368,12.368,0,0,0-11.715,2.12c-7.014,5.55-6.742,16.92.631,26.43,6.015,7.77,17.348,19.73,20.287,22.81,2.935-3.07,14.246-15.01,20.287-22.81,7.374-9.51,7.645-20.88.631-26.43a12.468,12.468,0,0,0-7.774-2.76h0Z" transform="translate(-635.719 -6443)"></path>
									</svg>
								</p>
								<p>
									<svg width="100%" height="100%" viewBox="0 0 52 52">
										<path d="M683.105,3240.98a12.572,12.572,0,0,0-19.931,6.43,1.024,1.024,0,0,1-1.974,0,12.537,12.537,0,0,0-19.93-6.43c-7.013,5.56-6.742,16.92.631,26.43,6.015,7.77,17.347,19.73,20.286,22.81,2.935-3.07,14.245-15.01,20.287-22.81C689.847,3257.9,690.118,3246.54,683.105,3240.98Z" transform="translate(-636.188 -3238.22)"></path>
									</svg>
								</p>
							</div>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
		</section>
	</main>
</body>
<script>
	var data = '<%= JSON.stringify(result)%>';
	var data1 = data.replace(/&#34;/g,'"').replace(/"&amp;"/g,'"').replace(/\n/g,'').replace(/\r/g,'').replace(/\s/g,'')
	var data2 = JSON.parse(data1)
	var arr = [];
	for(var i=0;i<data2.length;i++){
		arr[arr.length] = data2[i].id
	}
	window.sessionStorage.setItem("searchParams", arr);
</script>
<script src="javascripts/header.js"></script>
<script src="javascripts/products.js"></script>
<script src="javascripts/bottom_after.js"></script>
</html>